dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
temp-console-hasura/
.DS_Store
.idea
.devsh_version

# tool-agnostic personal ignore files
.ignore
.vscode
.vim/

# Test artifacts
*.tix

.devsh_version

nix
